* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  background-color: #c4c4c4;
  width: 100%;
  padding: 1.5rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
  padding: 0.25rem;
}

p {
  padding: 0.25rem;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.2rem;
}

nav {
  background-color: #474747;
}

nav ul {
  /* padding-left: 0.25rem; */
  display: flex;
  list-style-type: none;
}

nav ul li {
  display: flex;
}

nav ul li a {
  color: rgb(155, 155, 155);
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1rem 0.75rem;
  transition: all 0.25s ease;
}

nav ul li a.active {
  color: white;
}

nav ul li a:hover {
  color: white;
}

main {
  width: 100%;
  display: flex;
}

section {
  padding: 1.5rem;
}

section.left {
  flex-grow: 7;
  padding: 1rem;
}

section.right {
  flex-grow: 3;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

section.right h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

section.right p {
  padding: 1.5rem 0;
}

section.right iframe {
  border-radius: 30px;
}

section.left ol,
ul {
  margin-left: 1.75rem;
}

section.left img {
  padding: 2rem;
  display: block;
  margin: auto;
}

section.left a {
  color: rgb(22, 168, 120);
  text-decoration: none;
}

p.formula {
  color: rgb(255, 79, 79);
  font-size: 2rem;
  text-align: center;
}

section.industry {
  display: flex;
  padding: 1rem 0;
}

section.industry .industry1 {
  padding-right: 1.2rem;
}

section.industry .industry2 {
  padding-left: 1.2rem;
}

div.avatar {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 1rem;
}

.info p,
ul {
  padding: 0.75rem 0;
}
